// Util Styles
@import 'util/variables';
@import 'util/layout';
@import 'util/flexbox';
@import 'util/fonts';

// Component Styles
@import 'components/contact';
@import 'components/homepage';



html
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $lightGrey;
}
